
* {
    margin: 0;
    padding: 0;
}

#header {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    margin-top: 50px;
    width: 100%;
}

body {
    background-image: url('background-books1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    font-family: 'Noto Serif', serif;
}

.DIV {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
    color: black;
    width: 40%;
    margin: auto;
    margin-top: 20px;
}

ul {
    list-style: none;
}

#apiKey{
    margin-left: 5px;
    background-color: white;
}

#addBookForm, #changeBookForm, #deleteBookForm {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.Btn {
  border: none;
  border-radius: 10px;
  width: 30%;
  height: 20px;
  background-color: #2A363B;
  color: white;
}

.Btn:hover {
  background-color: white;
  color: black;
  border: solid black 1px;
  cursor: pointer;
}
input {
  margin-bottom: 10px;
  height: 30px;
  width: 50%;
  margin-left: 10px;
}

p, #apiKey {
  margin-bottom: 10px;
  margin-left: 10px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  padding-top: 10px;
  height: 40px;
  width: 100%;
  background-color: #312D2A;
}

@media (max-width: 880px) {
body {
  background-size: 110%;
}
  footer {
    height: 80px;
  }
}

@media (max-width: 750px) {
body {
  flex-direction: column;
  background-image: url('mobil.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.DIV {
  width: 100%;
  border-radius: 0px;
}
.Btn {
  border: none;
  border-radius: 10px;
  width: 30%;
  height: 35px;
  background-color: #2A363B;
  color: white;
}
footer {
  height: 30px;
}
}
