
* {
    margin: 0;
    padding: 0;
}

#header {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    margin-top: 30px;
    width: 100%;
}

body {
    background-image: url('background-books1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #312D2A;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    font-family: 'Noto Serif', serif;
}

.DIV {
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
    color: black;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

#unsuccessfulDiv {
    width: 10%;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    font-size: 0.7em;
    text-align: center;
}

ul {
    list-style: none;
}

#addBookForm, #changeBookForm, #deleteBookForm, #searchBookForm {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.Btn, #searchResult input {
  border: none;
  border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
  width: 40%;
  height: 30px;
  background-color: #2A363B;
  color: white;
}

#searchResult input {
  position: relative;
    width: 20%;
    left: 79%;
    right: 10px;
    bottom: 22px;
}

li {
  height: 40px;
  margin-top: 10px;
  border-bottom: 1px solid black;
}

.Btn:hover, #searchResult input:hover {
  background-color: white;
  color: black;
  border: solid black 1x;
  cursor: pointer;
}

.searchButton{
    position: absolute;
    right: 100px;
    color: red;
}

input {
  height: 30px;
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}

#apiKey {
  margin-bottom: 10px;
}


p {
  text-align: center;
}

#openLibrary {
    text-align: left;
    font-size: 80%;
}

.searchItem p {
    position: relative;
    top: 16%;
    left: 10px;
    text-align: left;
}

@media (max-width: 750px) {
body {
  flex-direction: column;
  background-image: url('mobil.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.DIV {
  width: 100%;
  border-radius: 0px;
}
.Btn {
  border: none;
  border-radius: 10px;
  width: 40%;
  height: 35px;
  background-color: #2A363B;
  color: white;
  margin-top: 10px;
}
#searchResult input {
  right: 0;
  height: 35px;
}

input {
  margin: auto;
  width: 50%;
}
p {
  text-align: center;
}
#unsuccessfulDiv {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    font-size: 0.7em;
    position: relative;
    text-align: center;
}
    
}